<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!---------------- INTERNAL ---------------->
    <link rel="stylesheet" href="/assets/css/main.css">
    $CSS_LINK

    <!---------------- EXTERNAL ---------------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/solarized-light.min.css">

    <title>$TAB_TITLE</title>
</head>

<body>
    <header>
        <div class="container">
            <nav class="topnav">
                <a id="left" class="active" href="/frontpage">Home</a>
                <div id="left" class="dropdown">
                    <button class="dropbtn">
                        Basics 
                    </button>
                    <div class="dropdown-content">
                        <a href="/variables">Variables</a>
                        <a href="/functions">Functions</a>
                        <a href="/datatypes">Datatypes</a>
                        <a href="/loop_methods">Loop methods</a>
                        <a href="/fetch">Fetch</a>
                    </div>
                </div>
                <a id="left" href="/conventions">Conventions</a>
                <a id="left" href="/terminal">Terminal</a>
                <a id="left" href="/tools">Tools</a>
                <div id="left" class="dropdown">
                    <button class="dropbtn">
                        Server setup
                    </button>
                    <div class="dropdown-content">
                        <a href="/packages">Packages</a>
                        <a href="/import_export">Import & Export</a>
                        <a href="/rendering">SSR & CSR</a>
                        <a href="/redirects">Redirection</a>
                        <a href="/app_setup">app.js setup</a>
                        <a href="/serve_html">Serving HTML</a>
                    </div>
                </div>
                <a id="left" href="/rest_api">REST API</a>
                <a id="left" href="/html_design">HTML</a>
                <a id="right" href="/">Login/Signup</a>
            </nav>
    </header>

    <main>
        <div class="container">
            <div class="row mt-5">
               
            
