/* -------------- GENERICS -------------- */

.box-command {
    padding: 1em;
    height: auto;
    border: 0.2em solid;
    border-color: black;
    background-color: rgb(4, 5, 5);
}


/* -------------- TEXT -------------- */

#command {
    color: rgb(109, 164, 107);
}